.header{
    background-image: url('./../images/donate\ bg.jpg');
    background-repeat:no-repeat;
    background-size: 1400px;
    padding: 100px;
}
.title{
    color: rgb(24, 25, 26) ;
    text-align: center;
    padding-bottom: 50px;

}
.banner-title{
    text-align: center;
    padding: 50px 50px 2px;
    font-size: 50px;

}
.banner-description{
    text-align: center;
    padding: 0 0 5px;
}
.btn-primary{
    text-align: center;
    color:aliceblue;
    background-color: chocolate;
    padding: 10px ;
    border: 0;
    border-radius: 10px;
}
/* section */
.section{
    text-align: center;
    padding: 200px;
}
.ammount{
    display: flex;
    text-align: left;
}